
.navbar_item {
  font-weight: 500;
  color: #333;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.navbar_item:hover {
  background-color: white;
  color: white;
  transition: transform 0.2s;
  transform: scale(1.05);
}

.navbar_item.active {
  background-color: rgb(159, 159, 233);
  color: white;
  padding: 10px;
}